// TWITTER FEED
.widget.widget_aptf_widget {
    list-style-type: none;
    margin-top: 30px;
}
.aptf-tweets-wrapper {
@extend .row;

@media all and (min-width:200px) and (max-width:630px) {
display: block
}

  
}



body .aptf-single-tweet-wrapper {
    @extend .col-sm-3;
    clear: none;


 .aptf-tweet-content {background: #ECEBE4;
        padding: 20px;


        a {
            font-weight: normal;
            @include force-wrap;
        }
    }

    .aptf-tweet-date {
    background: #ECEBE4;  
    width: 100%;
    padding: 0 20px 20px;
    margin-top: -10px;
    a {
        font-weight: normal;
    }
}




  

    @media all and (min-width:200px) and (max-width:630px) {
    width: 100%;
    clear: both;
    margin-right: 0; 
    }

}




.aptf-tweet-actions {
    display: none
}

// VIDEO

.img-wrapper {
    position: relative;
    max-width:1170px;
   
}

.mobile-only {

    display: none;
    @media (max-width:768px) {
        display: block
    }
}

.desktop-only {

    @media (max-width:768px) {
        display: none
    }
}

.latest-hangout-link {
    background: url(../images/custom/about/play-btn-large-white.png) center center no-repeat;
    display: block;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 25%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    &:hover {
    opacity: 0.6;
    }
}

.blur-bg {
    
    background: url(../images/home/blur-bg.jpg) top left no-repeat;
	width: 100%;
	background-size: cover;
    padding: 80px 0;
}

.beige-bg {
    
    background: $secondary-color;
    width: 100%;
    padding: 80px 0; 
}

.primary-color-bg {
    background-color: $primary-color;
    width: 100%;
    padding: 80px 0; 

    p,
    a,
    li,
    span
    {
        color: #FFF
    }

    a:hover {
        color: #000;
    }
}




// GENERIC MODAL

.modal .modal-header .close {
    margin-top: -2px;
    position: absolute;
    background: none;
    z-index: 1000;
   color: $secondary-color;
    border-radius: 50%;
    top: 19px;
    right: 33px;
    opacity: 1;
    border: none;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-size: 52px;

          &:hover {
                    color: #000;
                }
}




// MODAL

@media screen and (min-width: 992px) {
 .modal-dialog {
width: 900px;
}
 }




.modal-header .close {
    position: relative;
    top: -10px;
    right: 20px;

}



  .modal-header + .modal-body {
    border: 2px solid $light-beige;
    margin: 20px;
    margin-top: 0;
    border-top: none;
    padding: 40px;
    padding-top: 20px;
}

    .modal-header {
    min-height: 0;
    padding: 0;
    margin: 20px;
    margin-bottom: 0;
    border: 2px solid $light-beige;
    border-bottom: none;
    padding-top: 30px;  
}



// GALLERY

.gallery {



     button {
        background: none;
        border: none;
        width: 100%; 
        padding: 0;
        margin-bottom: 20px;
         overflow: hidden;
         background: $primary-color;
     }

     img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 0;
        @extend .transition;
        display: block;
        transform-origin: 0 0;
     

        &:hover {
            opacity: .7;
            @include scale(1.2);

          

        }
     }

}





.modal.gallery-enlarge  {

    @media screen and (min-width: 992px) {

    .modal-dialog {
    width: 750px;
    }

    }


    .modal-header {
    padding-top: 0;
    border: none!important;
    }

    .modal-header + .modal-body { 
    border: none!important;
    }

    .profile-img {
        @include border-radius(0);
        width: 100%;
        height: auto;
        margin:0;
    }

    .modal-body {
    padding: 0;
 
    }


  .modal-header + .modal-body {
    border: 2px solid #ECECEC;
    margin: 20px;
    margin-top: 0;
    border-top: none;
}

    .modal-header {

   
    

            .close {
            margin-top: -2px;
            position: absolute;
            background: none;
            z-index: 1000;
            color: #fff;
            border-radius: 50%;
              color: #fff;
    
            padding: 10px;
             top: 5px;
    right: 25px;
            opacity: 1;
            border: none;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;

                &:hover {
                    color: #000;
                }
            }

    }

}

.flex  {
  @include display-flex;
}
.icon-angle-right:before {
    content: ">";
    @extend .primary-font;
}

.icon-angle-left:before {
    content: "<";
    @extend .primary-font;
}

// PODCASTS

.episode h3 {
 margin: 10px 0 20px 0;
}

.download-brochure .content .gform_wrapper {
    margin-top: -30px;
}


//  PODCASTS

.podcast-container {
    img  {
    max-width:600px;
    }
}



